<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <title>Astro Basics</title>
  </head>

  <body>
    <slot />
  </body>
</html>

<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;700&display=swap");

  html[lang="ja"] {
    font-family: "Meiryo", "sans-serif", "Segoe UI Emoji";
  }

  body {
    margin: 0;
    line-height: 1.6;
    background: #edf2f7;
    color: #000000d1;

    word-break: break-word;
    word-wrap: break-word;
    line-break: strict;
  }

  a {
    color: #000000d1;
    text-decoration: none;
  }

  main {
    max-width: 830px;
    padding: 0 40px;
    margin: 0 auto;
  }

  header,
  footer {
    max-width: 830px;
    padding: 40px calc(max((100% - 830px) / 2, 40px));
  }
</style>
