<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <title>Astro Basics</title>
  </head>

  <body>
    <slot />
  </body>
</html>

<style>
  html[lang="ja"] {
    font-family: "Meiryo", "sans-serif", "Segoe UI Emoji";
  }

  body {
    margin: 0;
    line-height: 1.6;
    background: #edf2f7;
    color: #000000d1;
    word-break: break-word;
    word-wrap: break-word;
    line-break: strict;
  }
</style>
<style is:global>
  a {
    color: #000000d1;
    text-decoration: none;
  }
  ol,
  li {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  *,
  :after,
  :before {
    box-sizing: border-box;
  }
</style>
