---
import "zenn-content-css";
import Articles from "../components/Articles.astro";
import Pagination from "../components/Pagination.astro";
import Layout from "../layouts/Layout.astro";
import { getArticleData } from "../lib/zenn";

export const getStaticPaths = async () => {
  const data = await getArticleData();
  const pageLength = Math.ceil(data.length / 48);
  return Array.from({ length: pageLength }, (_, i) => {
    const page = i + 1;
    return {
      params: { index: page },
      props: {
        page: page,
        pageLength: pageLength,
        data: data.slice(i * 48, i * 48 + 48).map((article) => {
          return {
            slug: article.slug,
            title: article.frontmatter.title,
            emoji: article.frontmatter.emoji,
          };
        }),
      },
    };
  });
};

const { data, page, pageLength } = Astro.props;
---

<Layout>
  <main>
    <section>
      <h2>Articles</h2>
      <Articles type="list" data={data} />
    </section>
    <section>
      <Pagination page={page} pageLength={pageLength} />
    </section>
  </main>
</Layout>

<style>
  main {
    max-width: 960px;
    padding: 0 40px;
    margin: 0 auto;
  }
</style>
