---
import Path from "path";
import "zenn-content-css";
import Articles from "../components/Articles.astro";
import Layout from "../layouts/Layout.astro";
import { getArticleList, markdownToHtmlNormalized } from "../lib/zenn";

const articles = await getArticleList();

const data = articles.map((article) => {
  const html = markdownToHtmlNormalized(article.rawContent());
  return {
    slug: Path.basename(article.file, ".md"),
    topics: article.frontmatter.topics,
    title: article.frontmatter.title,
    emoji: article.frontmatter.emoji,
    type: article.frontmatter.type,
  };
});
---

<Layout>
  <header>
    <h1>Articles</h1>
  </header>
  <main>
    <section>
      <h2>Articles</h2>
      <Articles type="card" data={data} />
    </section>
  </main>

  <style>
    .article-list {
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
      align-items: flex-start;
      justify-content: space-between;
    }

    header {
      display: flex;
      flex-direction: row;
      background-color: #ffffff;
    }

    .header-emoji {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 1.7rem;

      border: 1px solid #e4edf4;
    }
  </style>
</Layout>
